@using CSE_WebEducation
@using ObjectInfo;
@using CommonLib;

@{
    //decimal user_type = ViewBag.User_Type;
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="header-report">
            <h3>Thay đổi mật khẩu</h3>
            <button class="btn-close" onclick="ClosePopupDialog('dPopupChangePass', false);"><img src="~/bidding_lib/img/icon-close.svg" alt="img"></button>
        </div>

        <form id="fromChangePass" enctype="multipart/form-data">
            <div class="body-report">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Tài khoản</div>
                            <div class="field-report">
                                <b>@ViewBag.User_Name</b>
                                <input type="hidden" value="@ViewBag.User_Id" name="User_Id" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Mật khẩu hiện tại<span class="clr-red">(*)</span></div>
                            <div class="field-report">
                                <input type="password" id="txtPass" maxlength="100" name="Old_Password" autocomplete="off" tabindex="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Mật khẩu mới<span class="clr-red">(*)</span></div>
                            <div class="field-report">
                                <input type="password" id="txtPassNew" maxlength="100" name="Password" autocomplete="off" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Nhập lại mật khẩu mới<span class="clr-red">(*)</span></div>
                            <div class="field-report">
                                <input type="password" id="txtRePasswordNew" maxlength="100" name="RePassword" autocomplete="off" tabindex="3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot-report text-right">
                <button class="btn-save" type="submit" id="btnSend"><img src="~/bidding_lib/img/icon-save.svg" alt="img" tabindex="10">Lưu</button>
                <button class="btn-cancel" type="button" id="btnExit" onclick="ClosePopupDialog('dPopupChangePass', false);"><img src="~/bidding_lib/img/icon-cancel.svg" alt="img" tabindex="11">Thoát</button>
            </div>

        </form>

    </div>
</div>


<script>
    var Old_Password = "";
    var PasswordNew = "";

    $(document).ready(function () {
        $('#txtPass').focus();
    });


    $('#fromChangePass').on('submit', function (e) {
        try {

            var that = this;
            /* e = window.event || e;*/
            e.preventDefault();

            if (!validateAdd()) return false;

            var formData = new FormData(this);
            //collectDataToAdd(formData);

            $.ajax({
                type: "POST",
                enctype: "multipart/form-data",
                url: '/quan-tri/nguoi-dung/doi-mat-khau',
                data: formData,
                beforeSend: function () {
                    SpinLoading(true);
                },
                contentType: false, processData: false, async: false,
                success: function (data) {
                    if (data && preHandleDataResult(data)) {
                        if (data.success > 0) {
                            showSuccess(data.responseMessage);
                            ClosePopupDialog('dPopupChangePass', false);
                        }
                        else {
                            showError(data.responseMessage);
                        }
                    }
                },
                error: function (data) {
                    console.log(data.error);
                },
                complete: function () {
                    SpinLoading(false);
                }
            });

        } catch (e) {
            console.log(e);
        }

    });


    function validateAdd() {
        try {
            Old_Password = $("#txtPass").val().trim();

            PasswordNew = $("#txtPassNew").val().trim();
            var confirmPasswordNew = $("#txtRePasswordNew").val().trim();

            console.log(Old_Password);

            if (Old_Password == null || Old_Password == "") {
                showError('Mật khẩu hiện tại không được để trống')
                $("#txtPass").focus();
                return false;
            }

            if (PasswordNew == null || PasswordNew == "") {
                showError('Mật khẩu mới không được để trống')
                $("#txtPass").focus();
                return false;
            }
            if (!validatePasswordRules34(PasswordNew)) {
                showError('Mật khẩu tối thiểu 8 ký tự, tối đa 20 ký tự, không bao gồm chữ có dấu và dấu cách. Có ít nhất 1 chữ cái viết thường, 1 chữ cái viết hoa, 1 chữ số và 1 ký tự đặc biệt');
                $('#password').focus();
                return false;
            }
            if (confirmPasswordNew == null || confirmPasswordNew == "") {
                showError('Mật khẩu nhập lại không được để trống')
                $("#password").focus();
                return false;
            }
            if (PasswordNew != confirmPasswordNew) {
                showError('Mật khẩu nhập lại không khớp')
                $("#confirm-password").focus();
                return false;
            }
            return true;

        } catch (ex) {
            console.log(ex);
        }
    }
</script>