@{
    ViewBag.Title = "Đăng nhập";
}
<div class="container">
    <header class="title">Đăng nhập</header>
    <h7 class="title-descripton">Hệ thống quản trị trang web khoa CNTT</h7>
    <form id="frmLogin">
        <div class="field email-field">
            <div class="input-field">
                <input type="text" placeholder="Tài khoản" class="email" id="txtUserName" maxlength="20"/>
            </div>
        </div>
        <div class="field create-password">
            <div class="input-field">
                <input type="password" placeholder="Mật khẩu" class="password" id="txtPassword"  maxlength="30"/>
                <i class="bx bx-hide show-hide"></i>
            </div>
        </div>
        @*<div class="forget-field">
            <a href="">Quên mật khẩu</a>
            </div>*@
        <div class="button">
            <input type="submit" value="Đăng nhập" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
      $('#txtUserName').focus();

      // Hide and show password
      const eyeIcons = document.querySelectorAll(".show-hide");

      eyeIcons.forEach((eyeIcon) => {
        eyeIcon.addEventListener("click", () => {
          const pInput = eyeIcon.parentElement.querySelector("input"); //getting parent element of eye icon and selecting the password input
          if (pInput.type === "password") {
            eyeIcon.classList.replace("bx-hide", "bx-show");
            return (pInput.type = "text");
          }
          eyeIcon.classList.replace("bx-show", "bx-hide");
          pInput.type = "password";
        });
      });
    });

    $(document).on('keypress', function (e) {
      if (e.which == 13) {
        Login();
      }
    });
    // hàm login viết tại đây
    // Submit form
    $('#frmLogin').on("submit", function (e) {

      try {
        e = window.event || e;
        e.preventDefault();

        Login();
      }
      catch (e) {
        console.log(e);
      }
    });

    function Login() {
      try {

        var txt_username = $('#txtUserName').val().trim();
        if (txt_username == "") {
          showError("Tài khoản không được để trống");
          $('#txtUserName').focus();
          return false;
        }

        var txt_password = $('#txtPassword').val().trim();
        if (txt_password == "") {
          showError("Mật khẩu không được để trống");
          $('#txtPassword').focus();
          return false;
        }

        var _url = "/login/do-login";

        $.ajax({
          url: _url,
          type: "POST",
          data: {
            userName: txt_username,
            password: txt_password
          },
          async: true, cache: false, traditional: true,
          success: function (data) {
              if (data.success > 0) {
                            showSuccess(data.responseMessage);
                            window.location.href = "/";
                        }
                        else {
                            showError(data.responseMessage);
                        }

          },
          error: function (data) {
            console.log(data.error);
          },
          complete: function () {
          }
        });
      } catch (e) {
        console.log(e.message);
      }
    }

</script>



