// ======================================================
// Abstracts :: Variables
// ======================================================


//Colors picker
$c-bl: #2E70EC;

$c-yl: #FAB019;
$c-wh: #fff;
$c-black: #1a1a1a;
$c-bb: #2C485B;
$c-txt: #0D4C7F;
$c-gr: #92ABC3;
$c-lb: #D2EAFF;


//Background color

//Font size
$fs-14: 14px;