<footer class="footer">
    <div class="container-fluid">
        <div class="container-xxl container">
            <div class="row">
                <div class="col-lg-6 col-mobile">
                     <div class="footer-information-container">
                        <div class="footer-logo-info">
                            <img src="/Guest_Assets/Img/csewhite.png" alt="">
                        </div>
                        <div class="footer-content-wrapper" style="letter-spacing: 1.4px;">
                            <span><i class="fas fa-map-marker-alt" style="color: #C82629;"></i> Địa chỉ: 175 Tây sơn - P. Trung Liệt- Q. Đống Đa - Hà Nội</span>
                            <span><i class="fas fa-phone" style="color: #C82629;"></i> Điện thoại: (04) 35632211</span>
                            <span><i class="far fa-envelope" style="color: #C82629;"></i> Email: vpkcntt@tlu.edu.vn</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-mobile">
                    <div class="row">
                       <div class="col-lg-4 col-mobile">
                          <div class="footer-categories-content">
                            <ul class="footer-categories-list">
                            <li class="footer-categories-item">
                                <a href="">Trang chủ</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Giới thiệu</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Khoa - Phòng ban</a>
                            </li>

                                </ul>
                            </div>
                        </div>
                       <div class="col-lg-4 col-mobile">
                            <div class="footer-categories-content">
                                <ul class="footer-categories-list">
                                    <li class="footer-categories-item">
                                        <a href="">Ngành học</a>
                                    </li>
                                    <li class="footer-categories-item">
                                        <a href="">Tuyển sinh</a>
                                    </li>
                                    <li class="footer-categories-item">
                                        <a href="">Hợp tác quốc tế</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-mobile">
                            <div class="footer-categories-content">
                                <ul class="footer-categories-list">
                                    <li class="footer-categories-item">
                                        <a href="">Liên hệ</a>
                                    </li>
                                    <li class="footer-categories-item">
                                        <a href="">Tuyển dụng</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-mobile">
                        <div id="map" style="width:100%;height:300px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.632923603131!2d105.82254171476288!3d21.00734658600998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac8109765ba5%3A0xd84740ece05680ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7p3kgbOG7o2k!5e0!3m2!1svi!2s!4v1679277658836!5m2!1svi!2s"
                                width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
              
                </div>
            </div>
        </div>
    </div>
</footer>