 <!-- header -->
<div class="header-wrapper">
    <div class="top-bar-wrapper">
        <div class="top-bar-container container-xxl">
            <div class="top-bar-contact">
                <div class="top-bar-contact-container">
                    <span>cse@tlu.edu.vn</span>
                </div>
                <div class="top-bar-contact-container">
                    <span> 000-111-2222</span>
                </div>
                @*<div class="logo-smaller-screen">
                    <img width="100%" src="../assets/hoptac-ava/ces 1.png" alt="">
                </div>*@
            </div>
            <div class="top-bar-right">
                <div class="header-find-box">
                    <input type="text" placeholder="Tìm kiếm" id="txtSearch">
                    <i class="fa-solid fa-magnifying-glass" onclick="LoadSearch();"></i>
                </div>

                @*<a href="/dang-nhap" class="top-bar-right-button_main"><i class="fa-solid fa-user"></i> Đăng nhập</a>*@
                <div id="menu-btn" class="top-bar-right-mobile">
                    <i class="fa-solid fa-bars" style="font-size: 24px;"></i>
                </div>
            </div>

        </div>
    </div>
    <partial name="~/Views/Shared/_Menu_Top.cshtml" />
</div>

<script>
    function LoadSearch() {
        try {
            var keySearch = $('#txtSearch').val();
            window.location.href = '/tim-kiem-bai-viet?keysearch='+keySearch;
        } catch (ex) {
            console.log(ex);
        }
    }

</script>